<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Template index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>

<div class="container">

    <h3>Customer List</h3>
    <table border="1">
        <tr>
            <td> Customer id</td>
            <td> Customer name</td>
            <td> Customer phone</td>
            <td> Customer address</td>
        </tr>

        <tr th:each="emp :${customers}">
            <td th:text="${emp.id}">id</td>
            <td th:text="${emp.name}">name</td>
            <td th:text="${emp.phone}">phone</td>
            <td th:text="${emp.address}">address</td>
        </tr>
    </table>

</div>

</body>
</html>
















